body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    display: flex;
    background: #000;
}
.header__logo{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
